In [1]:
from supabase import create_client
import pandas as pd, os
from dotenv import load_dotenv
load_dotenv()
supabase = create_client(os.getenv("SUPABASE_URL"), os.getenv("SUPABASE_KEY"))
data = supabase.table("iris_data").select("*").execute()
df = pd.DataFrame(data.data)
df.head()
df.info()
df.isnull().sum()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             150 non-null    int64
 1   sepal_length   150 non-null    float64
 2   sepal_width    150 non-null    float64
 3   petal_length   150 non-null    float64
 4   petal_width    150 non-null    float64
 5   species        150 non-null    object
 6   sepal_ratio    150 non-null    float64
 7   petal_ratio    150 non-null    float64
 8   is_petal_long  150 non-null    int64
dtypes: float64(6), int64(2), object(1)
memory usage: 10.7+ KB

Index(['id', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species', 'sepal_ratio', 'petal_ratio', 'is_petal_long'],
      dtype='object')

In [2]:
from supabase import create_client
import pandas as pd, os
from dotenv import load_dotenv
load_dotenv()
supabase = create_client(os.getenv("SUPABASE_URL"), os.getenv("SUPABASE_KEY"))
data = supabase.table("titanic_data").select("*").execute()
df = pd.DataFrame(data.data)
df.head()
df.info()
df.isnull().sum()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     891 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  adult_male   891 non-null    bool
 12  deck         203 non-null    object
 13  embark_town  889 non-null    object
 14  alive        891 non-null    object
 15  alone        891 non-null    bool
 16  family_size  891 non-null    int64
 17  is_alone     891 non-null    int64
 18  age_group    891 non-null    object
dtypes: bool(2), float64(2), int64(7), object(8)
memory usage: 120.2+ KB

Index(['id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'family_size', 'is_alone', 'age_group'],
      dtype='object')